<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>

<body>
<h1>Witaj w...</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>

<a th:href="@{/design}" id="design">Design a taco</a>

</body>
</html>