<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>


<form method="POST" th:action="@{/orders}" th:object="${order}">
    <h1>Zamów przygotowane taco!</h1>

    <img th:src="@{/images/TacoCloud.png}"/>
    <a th:href="@{/design}" id="another">Przygotuj kolejne taco</a><br/>

            <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
            Usuń wymienione problemy i spróbuj ponownie
            </span>
            </div>

    <h3>DAdres dostarczenia taco...</h3>
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Błędne imięi i nazwisko</span>
    <br/>

    <label for="street">Ulica: </label>
    <input type="text" th:field="*{street}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('street')}"
              th:errors="*{street}">Błędna ulica</span>
    <br/>

    <label for="city">Miejscowość: </label>
    <input type="text" th:field="*{city}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('city')}"
              th:errors="*{city}">Błędna miejscowość</span>
    <br/>

    <label for="state">Województwo: </label>
    <input type="text" th:field="*{state}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('state')}"
              th:errors="*{state}">Błędne województwo</span>
    <br/>

    <label for="zip">Kod pocztowy: </label>
    <input type="text" th:field="*{zip}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('zip')}"
              th:errors="*{zip}">Błędny kod pocztowy</span>
    <br/>

    <h3>Sposób płatności...</h3>

    <label for="ccNumber">Numer karty kredytowej: </label>
    <input type="text" th:field="*{ccNumber}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccNumber')}"
              th:errors="*{ccNumber}">Błąd numeru karty kredytowej</span>
    <br/>

    <label for="ccExpiration">Data ważności: </label>
    <input type="text" th:field="*{ccExpiration}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccExpiration')}"
              th:errors="*{ccExpiration}">Błędna data ważności</span>
    <br/>

    <label for="ccCVV">Kod CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccCVV')}"
              th:errors="*{ccCVV}">Błędny numer CVV</span>
    <br/>

    <input type="submit" value="Złóż zamówienie"/>
</form>

</form>
</body>
</html>